@import "tailwindcss";
.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #0682a1d2;
    border-radius: 5px;
    background-color: #0ab8ecbb;
    text-align: center;
    margin-left: 450px;
}

.form{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name{
  font-size: 17px;
  font-weight: bold;
}
.mail{
  font-size: 17px;
  font-weight: bold;
}
.pass{
  font-size: 17px;
  font-weight: bold;
}
.name2{
  margin-left: 18px;
  border: 1px solid black;
  padding: 5px 5px;
}
.mail2{
  margin-left: 20px;
  border: 1px solid black;
  padding: 5px 5px;
}
.pass2{
  margin-left: 12px;
  border: 1px solid black;
  padding: 5px 5px;
}
.reg{
  background-color: #08530b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}